/target
/.vscode

secret.json
.idea/dbnavigator.xml
GKE/terraform/terraform.tfstate
GKE/terraform/terraform.tfstate.backup
src/go/bc_dht/plans/coop_bc/bootstrap_ID.tmp
src/go/bc_dht/data/daemon*
src/go/bc_dht/data/outputs*
src/go/bc_dht/data/work*
src/go/bc_dht/tasks.db
src/go/bc_dht/.env.toml
src/go/bc_dht/aws.env.sh
